[{{ nginx_php_id }}]
listen = /var/run/php-fpm/php-fpm-{{ nginx_php_id }}.sock

user = {{ nginx_php_id }}
group = {{ nginx_php_group }}

pm = dynamic
pm.max_children = {{ nginx_php_max_children }}
pm.start_servers = {{ nginx_php_start_servers }}
pm.min_spare_servers = {{ nginx_php_min_spare_servers }}
pm.max_spare_servers = {{ nginx_php_max_spare_servers }}

catch_workers_output = yes
 
request_slowlog_timeout = {{ nginx_php_slowlog_timeout }}
slowlog = /var/log/php-fpm/{{ nginx_php_id }}-php-slow.log

php_admin_value[open_basedir] = {{ nginx_php_base_path }}/{{ nginx_php_id }}

php_admin_flag[log_errors] = on
php_admin_value[error_log] = stderr

php_value[post_max_size] = {{ nginx_php_post_max_size }}
php_value[upload_max_filesize] = {{ nginx_php_upload_max_filesize }}
php_value[upload_tmp_dir] = {{ nginx_php_base_path }}/{{ nginx_php_id }}/tmp

php_value[session.save_handler] = files
php_value[session.save_path] = {{ nginx_php_base_path }}/{{ nginx_php_id }}/tmp
